
#game {
    width: 400px;
    height: 400px;
    position: relative;
    background-color: #f0f0f0;
    border: 1px solid #333;
}

.entity {
    width: 40px;
    height: 40px;
    position: absolute;
}

#player {
    background-color: blue;
}

#enemy {
    background-color: red;
}